<footer>
    <div class="footer-wrapper">
        <div>
            <img class="footer-icons" src="/img/localizacao.png" alt="localizacao">
            <p>
                <span>Morada</span> Praceta Dom Afonso 3º 2º ESQ
            </p>
        </div>
        <div>
            <img class="footer-icons" src="/img/telefone.png" alt="telefone">
            <p>
                <span>Telefone</span> +351 211 149 501
            </p>
        </div>
        <div>
            <img class="footer-icons" src="/img/email.png" alt="email">
            <p>
                <span>E-Mail</span><a class="email-link" href="mailto:support@forum.com">support@forum.com</a>
            </p>
        </div>
        <div>
            <img class="footer-icons" src="/img/smartphone.png" alt="telemovel">
            <p>
                <span>Telemóvel</span> +351 962 312 873
            </p>
        </div>
    </div>
</footer>
