<nav>
    <ul class="navigation-bar">
        <li class="menu-link"><a href="/">Home</a></li>
        <li class="menu-link"><a href="/noticias" target="_blank">Notícias</a></li>
        <li class="menu-link"><a href="/atividade" target="_blank">Atividade</a></li>
        <li class="menu-link"><a href="/compose" target="_blank">Nova Publicação</a></li>
        <li class="menu-link"><a href="/about-us" target="_blank">Sobre os Criadores</a></li>
    </ul>
</nav>
