<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<h1 class="text-center mt-5 aboutus-knowus">Conheça os criadores do site</h1>

<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <a class="aboutus-creators" href="https://personal-page-pedro.herokuapp.com/" target="_blank">
                <h2>Pedro Dias</h2>
            </a>
        </div>
        <div class="col text-center mt-5">
            <a class="aboutus-creators" href="https://lianeferreira.000webhostapp.com/" target="_blank">
            <h2>Liane Ferreira</h2>
            </a>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
</body>
</html>
