<%- include("partials/header"); -%>

<%- include("partials/navbar"); -%>

<section>
    <header>
        <h1>Enviar Nova Publicação</h1>
    </header>

    <form class="container post-form" action="/compose" method="POST">
        <div class="form-group">
            <label for="name">Nome de utilizador</label>
            <input type="text" class="form-control" name="postUsername" maxlength="40" id="name" required>
        </div>
        <div class="form-group post-form--field">
            <label for="postTitle">Título</label>
            <input type="text" class="form-control" name="postTitle" id="postTitle" maxlength="100" required>
        </div>
        <div class="form-group post-form--field">
            <label for="postBody">Texto</label>
            <textarea class="form-control" name="postBody" id="postBody" rows="5" maxlength="1000" required></textarea>
            <div>
                <div id="charactersRemaining"></div>
            </div>
        </div>

        <button class="post-submit--button" type="submit" name="button">Publicar</button>
    </form>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script src="/js/form.js"></script>

<%- include("partials/footer"); -%>
</body>
</html>
