<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<section id="news-section">
	<header>
		<h1 class="news-main-title">Titulo da Notícia</h1>
	</header>
	<div class="news-main-container">
		<article class="news-cover-container">
			<img class="news-image" src="img/arvore.jpg" alt="Imagem da notícia">
			<div class="news-cover-text-container">
				<h3 class="news-sub-header">Cabeçalho</h3>
				<hr>
				<p class="news-cover-content">Faecis gravitate ardentior ipsa. Ne sed vos fulminibus diffundi cingebant.
					Cetera
					cesserunt. Sponte ambitae pondus membra neu? Eodem cinxit passim. Perveniunt membra. Figuras sunt
					illis.
					Nitidis alta orbis feras homo non militis. Congestaque ensis caeli declivia. Montibus gentes
					pronaque aquae
					fert foret pronaque.
					Circumdare umentia naturae perveniunt norant uno limitibus inter natura. Fulminibus deus calidis
					horrifer. Caelum sectamque. Locavit principio his locum habitabilis nubibus homini quam margine.
					Ignotas melioris motura cornua perpetuum rapidisque. Norant dixere adspirate. Densior fabricator.
					Margine zephyro principio mundum animal di. Vix cura media semine septemque minantia quinta
					subsidere moles. <br><br>
					Seductaque concordi moderantum adhuc magni vindice. Ambitae forma levius? Vultus moderantum
					praebebat imagine calidis addidit caelumque. Tegi sua semine legebantur solum solum fert abscidit
					alto! Praecipites mundum flamina umentia. Margine levius pontus lacusque hanc. Quod nam tegi.
					<br><br>
					Ponderibus aestu gentes habendum silvas solum hunc tuti. Sed coercuit ad pluviaque calidis inter.
					His ambitae. Nubes lege quia fontes cingebant caeleste pulsant locoque. Adsiduis tumescere
					fulminibus media. Dissociata semine formaeque recepta. Sed onus! Dissaepserat carmen effigiem sive
					fratrum semine nitidis nullo. Sine sidera grandia ventis praebebat uno spectent sibi. Pluvialibus
					plagae quanto! Perveniunt mortales abscidit orbe convexi nebulas. Solum inter nondum amphitrite nisi
					volucres calidis nix frigore?<br><br> Campos dominari effervescere? Sibi volucres pugnabant ut
					speciem
					coeptis erat. Erat caelumque iussit capacius magni! Facientes ripis. Recepta grandia humanas.
					Adsiduis tollere inminet ripis adspirate sectamque. Meis madescit vesper securae exemit cepit
					figuras. Praebebat invasit undis aequalis bene ignea. Sibi deorum mea usu usu tellus plagae induit
					reparabat. Terrae homini ipsa septemque adsiduis semina orbis fecit? Onerosior tellure melioris
					terram ante. Discordia sibi verba mentisque duris terra caeca lapidosos instabilis. Toto est. Moles
					premuntur coeperunt eurus nova bene. Flexi seductaque flexi circumfluus hanc. Sinistra di nubibus
					tonitrua occiduo vultus quinta. Librata habitandae videre dissaepserat mare.
				</p>
				<p class="news-cover-date">02/05/2020</p>
			</div>
		</article>
	</div>
</section>

<%- include('partials/footer') -%>
</body>
</html>
