body {
  display: flex;
  flex-direction: column;
  background-color: #ecf3f6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

button:focus {
  outline: none;
}

ul.navbar {
  background-color: #2ea2bf;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
  margin: 0;
  padding: 0;
}

.navbar > li {
  display: inline;
  opacity: 0.7;
  transition: 0.3s;
}

.navbar a {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 25px 60px;
  text-decoration: none;
}

.navbar li:hover {
  opacity: 1;
}

footer {
  background-color: #2ea2bf;
  margin-top: auto;
}

.footer-wrapper {
  margin: 0 auto 0 auto;
  width: min-content;
  display: grid;
  grid-auto-rows: auto;
  grid-column-gap: 80px;
  padding: 5px;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .footer-wrapper {
    grid-template-columns: min-content min-content;
  }
}

.footer-wrapper div p span {
  display: block;
  font-weight: bold;
}

.footer-wrapper div p {
  display: inline-block;
  margin-left: 5px;
}

footer .email-link {
  color: #000000;
  text-decoration: none;
}
