body {
    display: flex;
    flex-direction: column;
    background-color: #ecf3f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

button:focus {
    outline: none;
}

ul.navbar {
    background-color: #2ea2bf;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.1);
    margin: 0;
    padding: 0;
}

.navbar > li {
    display: inline;
    opacity: 0.7;
    transition: 0.3s;
}

.navbar a {
    color: #fff;
    display: inline-block;
    padding: 25px 60px;
    text-decoration: none;
}

.navbar li:hover {
    opacity: 1;
}

.news-main-title {
    font-size: 48px;
    text-align: center;
}

#news-section {
    margin-bottom: 50px;
}

.news-card-container {
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 4px 4px grey;
}

.news-image {
    width: 450px;
    height: 250px;
    object-fit: cover;
}

.news-text-container {
    padding: 0 10px 0 10px;
}

.news-content {
    text-align: justify;
}

.news-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, 450px);
    justify-content: center;
}

.news-date {
    font-size: 13px;
}

footer {
    background-color: #2ea2bf;
    margin-top: auto;
}
  
.footer-wrapper {
    margin: 0 auto 0 auto;
    width: min-content;
    display: grid;
    grid-auto-rows: auto;
    grid-column-gap: 80px;
    padding: 5px;
    white-space: nowrap;
}

@media screen and (min-width: 1024px) {
    .footer-wrapper {
        grid-template-columns: min-content min-content;
    }
}

.footer-wrapper div p span {
    display: block;
    font-weight: bold;
}

.footer-wrapper div p {
    display: inline-block;
    margin-left: 5px;
}

.news-more {
    text-align: center;
}

.news-more-button {
    background-color: #2ea2bf;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 12px;
    transition: all 0.5s;
    width: 230px;
}

.news-more-button a {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
    color: #fff;
}

.news-more-button a::after {
    content: '\002192';
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
    padding-left: 10px;
}

.news-more-button:hover {
    padding-right: 25px;
}

.news-more-button:hover a:after {
    opacity: 1;
}
